@import url(./node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(./node_modules/bootstrap-icons/font/bootstrap-icons.min.css);
@import url(./styles/shared/header.css);
@import url(./styles/pages/index.css);
@import url(./styles/shared/footer.css);
@import url(./styles/pages/desktop-1.css);
@import url(./styles/pages/desktop-2.css);

@font-face {
    font-family: "IRANSansX";
    src:
      url("./fonts/IRANSansXFaNum-Regular.woff2"),
  }
  
@font-face {
  font-family: "Kalameh";
  src: url("./fonts/Kalameh-Regular.woff2");
}

body {
    font-family: 'IRANSansX', sans-serif !important;                                       
}


