.addresses-title-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: capitalize;
}

.addresses-text {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4875rem;
    text-transform: uppercase;
}

.address-button {
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}