.bi-trash3 {
    font-size: larger;
}

.bi-trash3:hover {
    cursor: pointer;
}


.counter-cart {
    border: 2px solid #E8C79C;
    background-color: #E8C79C;
    width: 100px;
    border-radius: 5px;
    font-size: 18px;
    user-select: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }
  
.add-amount-btn-cart{
    border: none;
    background-color: #E8C79C
}

.value-cart {
    border-radius: 0.5rem;
    border: 1px solid #AB8569;
    padding-inline: 0.5rem;
}

.bi-plus {
    color: #886407;
}

.bi-dash {
    color: #888888;
}

.cart-card {
    background-color: #FCF4E9;
    border-color: #FCF4E9;
}

.cart-card-title {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 1.4rem */
    text-transform: capitalize;
}

.cart-card-ready {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; /* 1.575rem */
}

.cart-card-price {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 171.429% */
    text-transform: capitalize;
}

.cart-card-profit {
    color: #828282;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 171.429% */
    text-transform: capitalize;
    border-left: 1px solid #A9A9A9;
}