.payment-successful-text {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.order-serial-text {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-serial-number {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}