/* General Rules: */

.centered-carousel {
  display: flex;
  justify-content: center;
}
.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel .carousel-indicators button:not(.active) {
  background-color: #C6A66D;
}
.carousel .carousel-indicators .active {
  background-color: whitesmoke ;
}

.off-banner {
  border: solid 2px black;
  margin-top: 2.37rem;
  background: #6DB74B;
  margin-inline: 15%; 
}

.off-card {
  padding-block-start: 1.3rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.card-price-label {
vertical-align: middle;
display: inline-block;
margin-top: 5px;
}

.more-card-large {
height: 100%;
width: 70%;
background: #E5E4E4;
border-radius: 0.625rem;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.more-card-medium {
height: 90%;
width: 80%;
margin-block-start: 7.5%;
background: white;
border-radius: 0.625rem;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.more-card-small {
height: 80%;
width: 90%;
margin-block-start: 15%;
background: white;
border-radius: 0.625rem;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.timer-body{
  background-color: whitesmoke;
  padding-block-end: 0.25rem;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.timer-lines {
  border-top: 0.4rem solid black ;
  border-bottom: 0.4rem solid black ;
  padding-inline: 0.5rem;
  padding-block: 1rem;
}

.timer-value {
  font-size: 2rem;
  padding-inline: 1rem;
}

.timer-label {
  font-size: 0.75rem;
}

.most-viewed {
  color: #BC9020;
  border-bottom: 3px solid #BC9020;
  font-size: 1.5rem;
  padding-block-end: 1rem;
}

.most-viewed-line {
  color: gray;
  border-bottom: 1px solid gray;
  padding-block-end: 1rem;
}

.most-viewed-grid {
  margin-block-start: 2rem;
}

.most-viewed-card {
  padding-block-start: 1rem;
  padding-inline: 1rem;
  border-radius: 0.8125rem;
  border: 1px solid #BC9020;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.most-viewed-title {
  padding-block-end: 3rem;
}

.card-icon {
  color: #BC9020;
}

.most-viewed-btn {
  background: none;
  position: absolute;
  border: 1px solid #BC9020;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
  left: -1.25rem;
  transform: translateY(-50%);
  background: #FFECC9;
}

.categories-text {
color: #000;
font-family: Kalameh;
font-size: 2.75rem;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 3.85rem */
}

.categories-grid {
  margin-inline: 5%;
}

.categories-pic {
  padding: 2.5rem;
  border-radius: 50%;
}

.categories-pic-color-1 {
  border: 1px solid #AFC2DF;
  background: #AFC2DF;
}
.categories-pic-color-2 {
  border: 1px solid #CBDABF;
  background: #CBDABF;
}
.categories-pic-color-3 {
  border: 1px solid #DAB5B5;
  background: #DAB5B5;
}
.categories-pic-color-4 {
  border: 1px solid #D7A4D2;
  background: #D7A4D2;
}
/* ---------------------------------------------------------- */
/* Mobile Rules */

@media (max-width: 992px) {
.off-cards-grid {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-inline-end: 2rem;
  margin-inline-start: 2rem;
}
.off-text-box-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.timer-section-spacing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  scale: 75%;
}

.off-text-box-style{
  color: #F5F5F5;
  font-family: Kalameh;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 3.85rem */
}
.off-logo {
  width: 41px;
  height: 42px;
  margin-inline-start: 0.5rem;
}
.more-card-mobile {
  background: #E5E4E4;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-block-start: 0.3rem;
  text-decoration: none;
}
.off-card {
  
  padding-block-start: 1.3rem;
}
}

@media (min-width: 530px) {
  .off-card-more-mobile {
    display: none;
  }
}

@media (max-width: 530px) {
  .mug-mobile {
    padding: 0;
    width: 200%;
  }
  .off-card-more {
    display: none;
  }
}

/* ---------------------------------------------------------- */
/* PC Rules */
@media (min-width: 992px) {
.off-cards-grid {
  margin-bottom: 2.81rem;
  margin-inline-end: 3.38rem;
  margin-inline-start: 3.69rem;
}
.off-text-box-spacing {
  margin-top: 3rem;
  margin-inline-start: 2.75rem;
}
.off-text-box-style{
  color: #F5F5F5;
  font-family: Kalameh;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 3.85rem */
}
.off-logo {
  width: 82px;
  height: 84px;
}
}

.timer-section-spacing {
  margin: 2rem;
}
