.centered-carousel {
    display: flex;
    justify-content: center;
  }

/* Style the carousel indicators as circles */
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  
  /* Style the normal (inactive) indicators */
  .carousel .carousel-indicators button:not(.active) {
    background-color: #C6A66D; /* Set the background color for normal indicators */
  }
  
  /* Style the active indicator */
  .carousel .carousel-indicators .active {
    background-color: whitesmoke ; /* Set the background color for the active indicator */
  }

  .off-banner {
    border: solid 2px black;
    margin-top: 2.37rem;
    background: #6DB74B;
    margin-inline: 11%;
    
  }

  .off-text-box {
    margin-top: 3rem;
    margin-inline-start: 2.75rem;
    color: #F5F5F5;
    font-family: Kalameh;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 3.85rem */
  }
  
  .off-cards-grid {
    margin-top: 1.88rem;
    margin-bottom: 3.81rem;
    margin-inline-end: 3.38rem;
    margin-inline-start: 3.69rem;
  }

  .off-card {
    padding-block-start: 1.3rem;;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  /* Custom CSS to adjust vertical alignment */
.card-price-label {
  vertical-align: middle;
  display: inline-block;
  margin-top: 5px; /* Adjust this value to control the vertical spacing */
}

.more-card-large {
  height: 100%;
  width: 70%;
  background: #E5E4E4;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.more-card-medium {
  height: 90%;
  width: 80%;
  margin-block-start: 7.5%;
  background: white;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.more-card-small {
  height: 80%;
  width: 90%;
  margin-block-start: 15%;
  background: white;
  border-radius: 0.625rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}