.profile-nav-text, .user-account-information {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.profile-icon {
    font-size: 1.5rem;
}

.profile-nav-link {
    color: black;
    text-decoration: none;
}

.profile-nav-link-current {
    color: #BC9020;
    text-decoration: none;
    color: #BC9020;
    border-right: 3px solid #BC9020;
}

.log-out {
    color: #835E5E;
    text-decoration: none;
    font-size: 1.25rem;
}

.edit-user-account-information {
    color: #CBB270;
    text-decoration: none;
}

.user-account-information-title {
    color: #828282;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4875rem;
    text-transform: uppercase;
}

.user-account-information-input {
    color: black;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4875rem;
    text-transform: uppercase;
}





  .latest-orders-text{
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.275rem;
    text-transform: uppercase;
  }

  .latest-orders-title {
    color: gray;
  }

  .table-eye {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    font-size: 1rem;
    padding-inline: 0.25rem;
  }

.latest-saved-card {
  border: none;
}

  .latest-saved-card-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22.4px;
    text-transform: capitalize;
  }

  .latest-saved-delete {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
  }



