

.header-cart {
    display: flex;

    
    border-radius: 8px;
    background: #FFD56A;
    text-decoration: none;
    color: black;
}

.header-login {
    display: flex;
    
    border-radius: 8px;
    border: 1px solid #000;
    text-decoration: none;
    color: black;
}

.left-frame-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.header-searchbar {
    height: 3rem;
    background-color: #FFFCF3; 
    border: 1px solid #BC9020;
}

.right-frame-text {
    font-size: 15px;
}

.nnavbar {
    display: flex;
    flex-wrap: wrap;
    background: #FEF5DF;
    font-size: 0.75rem;
    padding-inline: 0;
    padding-block: 0.75rem;
}