.profile-title-text {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    text-transform: capitalize; 
}

.profile-selection {
    border: 1px solid #F0F4F7;
    background: #F0F4F7;
}

.selection-btn {
    color: #000;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #F0F4F7;
}